
<h3>Employee Management Application</h3>

<form #empForm="ngForm" (ngSubmit)="onSubmit()">

  <div id="mainDiv">
    <div class="form-group">
      <label for="fname" class="form-label">First Name : </label><br/>
      <input class="form-control" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required type="text" name="fname" id="fname" [(ngModel)]="empModel.fname">
      <small [class.d-none]="name.valid || name.untouched">Name Required!</small>
    </div>
    <div class="form-group">
      <label for="lname">Last Name : </label><br/>
      <input class="form-control" type="text" name="lname" id="lname" [(ngModel)]="empModel.lname">
    </div>
    <div class="form-group">
      <label for="email">Email : </label><br/>
      <input class="form-control" type="email" #email="ngModel" name="email" id="email" [class.is-invalid]="email.invalid && email.touched" required [(ngModel)]="empModel.email">
      <span *ngIf="email.invalid && email.touched">
      <small *ngIf="email.errors.required">Email  required!</small>
      </span> 
    </div>
    <div class="form-group">
      <label for="contact">Contact Number : </label><br/>
      <input class="form-control" type="number" required #contact="ngModel" name="contact" [class.is-invalid]="contact.invalid && contact.touched" id="contact" [(ngModel)]="empModel.contact">
      <span *ngIf="contact.errors && contact.touched">
      <small *ngIf="contact.errors.required">Contact number required!</small>
      </span>  
    </div class="form-group">
    <div class="form-group">
      <label>Address : </label><br/>
      <textarea class="form-control" name="address" id="address" [(ngModel)]="empModel.address"></textarea>
    </div>
    <div class="form-group">
      <label for="uname">Username : </label><br/>
      <input class="form-control" type="text" name="uname" id="uname" #uname="ngModel" [class.is-invalid]="uname.invalid && uname.touched" required [(ngModel)]="empModel.uname">
      <small [class.d-none]="uname.valid || uname.untouched">Username Required!</small>
    </div>
    <div class="form-group" >
      <label for="pass">Password : </label><br/>
      <input class="form-control" type="password" name="pass" id="pass" #pass="ngModel"  [class.is-invalid]="pass.invalid && pass.touched" required [(ngModel)]="empModel.pass">
      <small [class.d-none]="pass.valid || pass.untouched">Password Required!</small>
    </div>
    <div class="form-group">
      <label>Gender :</label><br/>
      <input type="radio" id="male" name="gender" value="male" [(ngModel)]="empModel.gender"><label>Male</label><br/>
      <input type="radio" id="female" name="gender" value="female" [(ngModel)]="empModel.gender"><label>Female</label>
    </div>
    <div class="form-group">
      <label>Qualification :</label><br/>
      <select class="form-control" name="qualifications" id="qualifications" [(ngModel)]="empModel.qualification">
          <option disabled selected>--Select--</option>
        <option *ngFor="let qualification of qualifications" [value]="qualification">{{qualification}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Experience :</label><br/>
      <select class="form-control" name="experience" id="experience" [(ngModel)]="empModel.experience">
          <option disabled selected>--Select--</option>
        <option *ngFor="let experience of experiences" [value]="experience">{{experience}}</option>
      </select>
    </div>
    <div class="checkbox">
      <label>Coding Languages :</label><br>
      <span id="lang_checkbox" *ngFor="let lang of languages" >
        <input type="checkbox" [name]="lang.name" [value]="lang.name" [checked]="empModel[lang.id.value]" [(ngModel)]="empModel[lang.id]"/><label>{{lang.name}}</label><br/>
      </span>
    </div>
    
      <input type="submit" name="submitform" value="Submit" class="btn btn-primary" [disabled]="empForm.form.invalid">
  
  </div>
</form>

  <!-- {{ empForm.value | json }}
    <hr>
    {{ empModel | json }} -->